
button{
    background-color: #fab205;
    color: #ffffff;
}

button:hover{
    background-color: #fa0505;
    color: #ffffff;
}
img{
    width: 100%;
    cursor: pointer;
}

h5{
    color: #ffffff;
}